---
layout: base
title: Possum Radio Buttons
---

<form action="">
  <label class="form-control">
    <input type="radio" name="radio" />
    Radio
  </label>

  <label class="form-control">
    <input type="radio" name="radio" checked />
    Radio - checked
  </label>
</form>